/* PALETA DE COLORES
https://coolors.co/palette/582f0e-7f4f24-936639-a68a64-b6ad90-c2c5aa-a4ac86-656d4a-414833-333d29
https://coolors.co/palette/6f1d1b-bb9457-432818-99582a-ffe6a7
https://coolors.co/palette/abc4ab-a39171-dcc9b6-727d71-6d4c3d
https://coolors.co/palette/210f04-452103-690500-934b00-bb6b00
https://coolors.co/abc4ab-a39171-dcc9b6-727d71-6d4c3d

https://coolors.co/b76935-a56336-935e38-815839-6f523b-5c4d3c-4a473e-38413f-263c41-143642
https://coolors.co/palette/1a1423-3d314a-684756-96705b-ab8476
*/

:root {
  --main-color: #c2c5aa;
  --back-img-about: url("../img/aboutUs/1.jpg");
  /* --back-color-inicio: #c2c5aa; */
  --back-color-inicio: white;
  --back-color-menu: white;
  --nav-font: "Noto Sans JP", sans-serif;
  /* --title-font: "Courgette", cursive; */
  --title-font: "Kanit", sans-serif;
  --title-size: 25px;
  --paragraph-font: "Bitter", serif;
  --margin-padding-0-15: 0px 15px;
  --menu-font: "Kanit", sans-serif;
  --back-color-article: #c2c5aaf1;
}

* {
  margin: 0px;
  padding: 0px;
}

/* TITULOS y PÃRRAFOS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  border-bottom: 1px solid var(--main-color);
  font-size: var(--title-size) !important;
  transition: all 0.5s;
  color: black;
  text-align: center;
  margin: var(--margin-padding-0-15);
  text-transform: uppercase;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  letter-spacing: 3px;
}

p {
  font-family: var(--paragraph-font);
  color: rgb(0, 0, 0) !important;
  font-size: 16x;
  text-align: justify;
}

/* HEADER */
#home {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: 2px 2px 2px black;
}

.menu {
  justify-content: end;
}

.navbar-brand {
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  width: 150px;
  height: 40px;
  margin-left: 20px;
  border-radius: 80px;
  transition: all 0.5s;
}

.navbar-brand:hover {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.navbar-toggler {
  margin-right: 20px !important;
  border: 1px solid var(--main-color) !important;
}

.navbar-toggler-icon {
  color: var(--main-color) !important;
}

.menu .navbar-nav .nav li {
  padding-right: 20px;
}

.nav-link {
  transition: all 0.5s !important;
  font-family: var(--nav-font);
  font-size: 15px;
  color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
  color: -webkit-linear-gradient(to top, #603813, #b29f94);
  color: linear-gradient(to top, #603813, #b29f94);
  letter-spacing: 3px;
}

@media (max-width: 991px) {
  #home {
    position: relative;
  }
  .menu .navbar-nav .nav li {
    width: 100%;
    margin: 5px 19px;
    padding: 0px 10px;
    border-radius: 20px;
    border-bottom: 1px solid var(--main-color) !important;
    transition: all 0.5s !important;
  }

  .menu .navbar-nav .nav li:hover {
    background: var(--main-color);
    background: -webkit-linear-gradient(to left, #97d38b, #c2c5aa);
    background: linear-gradient(to left, #97d38b, #c2c5aa);
  }

  .links-a {
    margin-top: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1365px) {
  .nav-link {
    font-size: 22px !important;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .nav-link {
    font-size: 20px !important;
  }

  .navbar-brand {
    width: 120px !important;
    height: 50px !important;
  }
}

@media (min-width: 1920px) {
  .nav-link {
    font-size: 24px !important;
  }

  .navbar-brand {
    width: 150px !important;
    height: 60px !important;
  }
}

/* SECTION GENERAL */
section {
  padding-top: 57px;
  z-index: 2;
}

@media (max-width: 991px) {
  section {
    padding-top: 0px;
  }
}
/* CADA ARTICLE */
article {
  height: auto;
  padding: 25px 25px !important;
  margin: 25px 25px !important;
}

.article-esp {
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
}

/* MAIN ARTICLE */
#main {
  background-image: url("../img/1.jpg");
  background-size: cover;
  width: 100%;
  margin-left: 0px !important;
  margin-top: 0px !important;
  height: 500px !important;
}

#main h1 {
  color: white;
  border: none;
}

#main p {
  color: white !important;
  text-align: center;
  font-size: 15px;
}

#main .col-5 {
  width: 100%;
  padding-top: 150px !important;
}

@media (max-width: 400px) {
  #main h1 {
    font-size: 30px !important;
  }

  #main p {
    font-size: 12px !important;
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  #main h1 {
    font-size: 35px !important;
  }
}

@media (min-width: 701px) and (max-width: 1150px) {
  #main .col-5 {
    width: 50%;
    padding-top: 120px !important;
  }
  #main h1 {
    font-size: 40px !important;
  }

  #main p {
    font-size: 15px !important;
  }
}

@media (min-width: 1151px) and (max-width: 1450px) {
  #main {
    height: 600px !important;
  }
  #main .col-5 {
    width: 50%;
    padding-top: 150px !important;
  }
  #main h1 {
    font-size: 45px !important;
  }

  #main p {
    font-size: 19px !important;
  }
}

@media (min-width: 1451px) and (max-width: 1700px) {
  #main {
    height: 650px !important;
  }
  #main .col-5 {
    width: 50%;
    padding-top: 180px !important;
  }
  #main h1 {
    font-size: 50px !important;
  }

  #main p {
    font-size: 22px !important;
  }
}

@media (min-width: 1701px) {
  #main {
    height: 700px !important;
  }
  #main .col-5 {
    width: 50%;
    padding-top: 190px !important;
  }
  #main h1 {
    font-size: 55px !important;
  }

  #main p {
    font-size: 25px !important;
  }
}

/* INCIO ARTICLE */
#inicio {
  background-color: white;
}

#inicio-text {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

#inicio-text h1 {
  font-size: 24px !important;
}

#inicio-text p {
  font-size: 16px !important;
}

.w-100 {
  border-radius: 20px;
  height: 300px;
}

@media (max-width: 400px) {
  #inicio .row {
    display: block;
  }

  #inicio .row .col-7 {
    width: 100%;
  }

  #inicio .row .col-5 {
    width: 100%;
  }
}

@media (min-width: 401px) and (max-width: 650px) {
  #inicio .row {
    display: block;
  }

  #inicio .row .col-7 {
    width: 100%;
  }

  #inicio .row .col-5 {
    width: 100%;
  }
}

@media (min-width: 651px) and (max-width: 875px) {
  #inicio .row {
    display: block;
  }

  #inicio .row .col-7 {
    width: 100%;
  }

  #inicio .row .col-5 {
    width: 100%;
  }

  .w-100 {
    height: 450px;
  }
}

@media (min-width: 876px) and (max-width: 1388px) {
  .w-100 {
    height: 400px;
  }

  #inicio-text h1 {
    font-size: 30px !important;
  }

  #inicio-text p {
    font-size: 18px !important;
  }
}

@media (min-width: 1389px) and (max-width: 1700px) {
  .w-100 {
    height: 470px;
  }

  #inicio-text h1 {
    font-size: 32px !important;
  }

  #inicio-text p {
    font-size: 20px !important;
  }
}

@media (min-width: 1700px) {
  .w-100 {
    height: 500px;
  }

  #inicio-text h1 {
    font-size: 33px !important;
  }

  #inicio-text p {
    font-size: 22px !important;
  }
}

/* ABOUT US ARTICLE */
#about {
  height: auto;
  background-color: var(--back-color-article) !important;
}

#about .row .col-7 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
}

#aboutUsTitle {
  margin-top: 10px;
}

#about .row .col-5 p {
  font-size: 20px;
  /* padding-right: 30px; */
}

@media (max-width: 850px) and (max-width: 1017px) {
  #about .row {
    display: block;
  }

  #about .row .col-5 {
    width: 100% !important;
  }

  #about .row .col-7 {
    width: 100% !important;
  }

  #about .row .col-5 #aboutUsTitle {
    margin-top: 10px !important;
    font-size: 23px !important;
  }

  #about .row .col-5 p {
    font-size: 16px !important;
  }
}

@media (min-width: 1018px) and (max-width: 1330px) {
  #about .row .col-5 #aboutUsTitle {
    margin-top: 50px !important;
    font-size: 30px !important;
  }

  #about .row .col-5 p {
    font-size: 22px !important;
  }
}

@media (min-width: 1331px) and (max-width: 1615px) {
  #about .row .col-5 #aboutUsTitle {
    margin-top: 40px !important;
    font-size: 35px !important;
  }

  #about .row .col-5 p {
    font-size: 25px !important;
  }
}

@media (min-width: 1616px) {
  #about .row .col-5 #aboutUsTitle {
    margin-top: 45px !important;
    font-size: 50px !important;
  }

  #about .row .col-5 p {
    font-size: 30px !important;
  }
}

/* GALLERY ARTICLE */
#gallery h2 {
  border: none;
  font-size: 20px !important;
  letter-spacing: 20px;
}

#gallery h2:hover {
  letter-spacing: 30px;
}

#gallery .container{
  /* margin: 0px 52px !important; */
}
.portfolio-menu {
  text-align: center;
}

.portfolio-menu .active {
  background-color: var(--main-color);
}

.portfolio-menu ul {
  padding: 0px !important;
}

.btn-gallery {
  border: 1px solid var(--main-color) !important;
  transition: all 0.5s !important;
  text-transform: uppercase;
  margin-bottom: 10px !important;
}

.btn-gallery:hover {
  background-color: var(--main-color);
}

.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.portfolio-item {
  width: 100%;
}

.portfolio-item .item {
  /*width:303px;*/
  /* float: left; */
  margin-bottom: 10px;
}

.portfolio-item .item a .img-fluid {
  border-radius: 10px;
  width: 600px !important;
}

@media (max-width: 400px) {
  #gallery h2 {
    font-size: 20px !important;
  }
}

/* MENU ARTICLE */

#menu-foods {
  background-color: var(--back-color-article) !important;
  padding: 50px 0px !important;
}
#menu-foods h2 {
  text-align: center;
  border: none;
  font-size: 30px !important;
  letter-spacing: 20px;
}

#menu-foods h2:hover {
  letter-spacing: 30px;
}

#menu-foods li {
  padding: 30px 15px;
}

#menu-foods li a {
  font-size: 17px !important;
  text-transform: uppercase;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--main-color) !important;
  background-color: #7e7d45 !important;
}

.col {
  display: flex;
  justify-content: center;
}
.tab-content {
  padding: var(--margin-padding-0-15);
}

.tab-pane {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.tab-content .card {
  width: 17rem;
  border: none !important;
  margin-bottom: 20px;
}

/* REVIEWS ARTICLE */
#reviews h2 {
  border: none !important;
  margin-bottom: 15px !important;
}

#reviews .card {
  margin-bottom: 10px;
}

#reviews .card-text img {
  width: 20px;
  margin-bottom: 7px;
  margin-left: 2px;
}

/* CONTACT US ARTICLE */
#contact {
  background-color: var(--back-color-article);
  margin: 0px !important;
  border-radius: 0px;
}

#contact .contact-map iframe {
  width: 100% !important;
  height: 500px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

#contact .col-4 {
  background-color: var(--main-color);
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  margin-top: 70px;
  height: 350px;
}
#contact #contact-info li {
  display: flex;
  justify-content: start;
  font-family: var(--paragraph-font);
  font-size: 20px;
  list-style: none;
  padding-top: 30px;
  margin: 15px 0px;
}

#contact #contact-info a {
  color: black !important;
}

#contact #contact-info a:hover {
  letter-spacing: 0px;
}

#contact #rrss {
  display: flex;
  justify-content: space-around;
}

#contact #rrss li {
  list-style: none;
  margin-top: 30px;
}

#contact li img {
  width: 30px !important;
  float: left;
  margin-right: 15px;
}
