/* PALETA DE COLORES
https://coolors.co/palette/582f0e-7f4f24-936639-a68a64-b6ad90-c2c5aa-a4ac86-656d4a-414833-333d29
https://coolors.co/palette/6f1d1b-bb9457-432818-99582a-ffe6a7
https://coolors.co/palette/abc4ab-a39171-dcc9b6-727d71-6d4c3d
https://coolors.co/palette/210f04-452103-690500-934b00-bb6b00
https://coolors.co/abc4ab-a39171-dcc9b6-727d71-6d4c3d

https://coolors.co/b76935-a56336-935e38-815839-6f523b-5c4d3c-4a473e-38413f-263c41-143642
https://coolors.co/palette/1a1423-3d314a-684756-96705b-ab8476
*/

:root {
  --main-color: #c2c5aa;
  --back-img-about: url("../img/aboutUs/1.jpg");
  /* --back-color-inicio: #c2c5aa; */
  --back-color-inicio: white;
  --back-color-menu: white;
  --nav-font: "Noto Sans JP", sans-serif;
  /* --title-font: "Courgette", cursive; */
  --title-font: "Kanit", sans-serif;
  --title-size: 25px;
  --title-sizeR: 18px;
  --paragraph-font: "Bitter", serif;
  --margin-padding-0-15: 0px 15px;
  --menu-font: "Kanit", sans-serif;
  --back-color-article: #c2c5aaf1;

  /* TAMAÑOS DE LETRA TITULOS*/
  --font-576: 20px;
  --font-768: 22px;
  --font-992: 25px;
  --font-1200: 28px;
  --font-1400: 33px;

  /* TAMAÑOS DE LETRA PÁRRAFOS */
  --font-p-768: 15px;
  --font-p-992: 17px;
  --font-p-1200: 19px;
  --font-p-1400: 23px;

}

* {
  margin: 0px;
  padding: 0px;
}

/* TITULOS y PÁRRAFOS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  border-bottom: 1px solid var(--main-color);
  font-size: var(--title-sizeR) !important;
  transition: all 0.5s;
  color: black;
  text-align: center;
  margin: var(--margin-padding-0-15);
  text-transform: uppercase;
}

h1 {
  font-size: var(--title-size) !important;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  letter-spacing: 3px;
}

p {
  font-family: var(--paragraph-font);
  color: rgb(0, 0, 0) !important;
  font-size: 15px;
  text-align: justify;
}

/* HEADER */
#home {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: 2px 2px 2px black;
}

.menu {
  justify-content: end;
}

.navbar-brand {
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  width: 150px;
  height: 40px;
  margin-left: 20px;
  border-radius: 80px;
  transition: all 0.5s;
}

.navbar-brand:hover {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.navbar-toggler {
  margin-right: 20px !important;
  border: 1px solid var(--main-color) !important;
}

.navbar-toggler-icon {
  color: var(--main-color) !important;
}

.menu .navbar-nav .nav li {
  padding-right: 20px;
}

.nav-link {
  transition: all 0.5s !important;
  font-family: var(--nav-font);
  font-size: 15px;
  color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
  color: -webkit-linear-gradient(to top, #603813, #b29f94);
  color: linear-gradient(to top, #603813, #b29f94);
  letter-spacing: 3px;
}

@media (max-width: 991px) {
  #home {
    position: relative;
  }
  .menu .navbar-nav .nav li {
    width: 100%;
    margin: 5px 19px;
    padding: 0px 10px;
    border-radius: 20px;
    border-bottom: 1px solid var(--main-color) !important;
    transition: all 0.5s !important;
  }

  .menu .navbar-nav .nav li:hover {
    background: var(--main-color);
    background: -webkit-linear-gradient(to left, #97d38b, #c2c5aa);
    background: linear-gradient(to left, #97d38b, #c2c5aa);
  }

  .links-a {
    margin-top: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1365px) {
  .nav-link {
    font-size: 22px !important;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .nav-link {
    font-size: 20px !important;
  }

  .navbar-brand {
    width: 120px !important;
    height: 50px !important;
  }
}

@media (min-width: 1920px) {
  .nav-link {
    font-size: 24px !important;
  }

  .navbar-brand {
    width: 150px !important;
    height: 60px !important;
  }
}

/* SECTION GENERAL */
section {
  padding-top: 57px;
  z-index: 2;
}

@media (max-width: 991px) {
  section {
    padding-top: 0px;
  }
}
/* CADA ARTICLE */
article {
  height: auto;
  padding: 25px 25px !important;
  margin: 25px 25px !important;
}

.article-esp {
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
}

/* MAIN ARTICLE */
#main {
  background-image: url("../img/1.jpg");
  background-size: cover;
  width: 100%;
  margin-left: 0px !important;
  margin-top: 0px !important;
  height: 500px !important;
}

#main h1 {
  color: white;
  border: none;
}

#main p {
  color: white !important;
  text-align: center;
}

#main .col-5 {
  width: 100%;
  padding-top: 150px !important;
}

@media (min-width: 768px) {
  #main .col-5 {
    width: 50%;
    padding-top: 110px !important;
  }

  #main h1 {
    font-size: 35px !important;
  }

  #main p {
    font-size: 18px !important;
  }
}

@media (min-width: 1200px) {
  #main {
    height: 450px !important;
  }

  #main h1 {
    font-size: 40px !important;
  }

  #main p {
    font-size: 20px !important;
  }
}
@media (min-width: 1400px) {
  #main {
    height: 550px !important;
  }

  #main .col-5 {
    padding-top: 140px !important;
  }

  #main h1 {
    font-size: 45px !important;
  }

  #main p {
    font-size: 22px !important;
  }
}
